*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# exclude maven stuff
target/
dependency-reduced-pom.xml
epwg.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_web3j_core_1_1_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_54.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__io_reactivex_rxjava_1_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__com_squareup_javapoet_1_7_0.xml
.idea/libraries/Maven__com_lambdaworks_scrypt_1_4_0.xml
.idea/libraries/Maven__com_google_zxing_core_3_3_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Maven__com_beust_jcommander_1_48.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/.name
.idea/$CACHE_FILE$
